
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

.navbar {
    width: 100%;
    height: 60px; 
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed; 
    top: 0; 
    z-index: 1000; 
    font-size: 14px;
    color: white;
    background-color: rgb(72, 109, 245);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 100px;
}

.navbar-left img {
    width: 210px;
}

.navbar-left ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.navbar-left ul li a{
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

.navbar-left ul li a:hover {
    text-decoration: underline;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}


.navbar-right button{ 
    width: 90px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    border: none;
    outline: none;
}

.navbar-right button:hover  {
    background-color: rgb(72, 109, 245);
    border: 2px solid #fff;
}

.logout a {
    padding: 10px 12px;
}

.logout:hover a{
    color: #fff;
}

.navbar-right button a {
    font-size: 1.4rem;
    font-weight: 500;
    color: #000;
}


/* Hero */ 
.hero {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    margin-top: 60px; 
}

.hero__inner {
    display: flex;
    width: 100%;
}

.hero__menu {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.hero__menu button {
    margin-bottom: 28px; 
    padding: 10px 20px;
    font-size: 1.4rem;
    background-color: #EAEAEA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 291px;
    height: 84px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.hero__menu button:last-child {
    margin-bottom: 0; 
}

.hero__menu button a {
    padding: 20px 30px;
    color: #696969;
    text-decoration: none;
    font-size: 2.3rem;
    font-weight: 500;
    display: block;
}

.hero__menu button:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); 
    background-color: #F5DD85; 
}

.hero__view {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.hero__background {
    height: 60%; 
    background-image: url('/img/bg-hero.png'); 
    background-size: cover; 
    background-position: center; 
    box-shadow: inset 0 -3px 10px rgba(0, 0, 0, 0.2);
}

.hero__footer {
    height: 40%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.1);
}

/* hero footer */
.hero__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 6%;
    background-color: #fff;
    font-size: 1.4rem;
    color: #333;
    box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.1);
}

.footer-column {
    flex: 1;
    padding: 10px;
}

.footer-logo img {
    width: 30px;
}

.footer-icons {
    display: flex;
    gap: 16px;
    margin-top: 20px;
}

.footer-icons a img {
    width: 30px; 
}

.footer-column h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 28px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 12px;
}

.footer-column ul li a {
    color: #333;
    text-decoration: none;
    font-size: 1.6rem;
}

.footer-column ul li a:hover {
    color: #007bff;
}

/* home empty */ 
.book-entry-form {
    background-color: #72C2AE;
    color: white;
    font-size: 2rem;
    font-weight: 500;
    height: 60px; 
    display: flex;
    align-items: center;
    padding: 0 90px;
    margin-top: 60px; 
}

.book-entry-form h2 {
    margin: 0; 
}

/* Customer Section */
.customer-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 26px;
    margin-bottom: 26px;
    padding: 0 6%;
}

.date {
    padding: 10px 6%;
}

.date ,
.customer-section h3 {
    font-weight: 700;
}

.customer {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}
.customer-debt{
    display: flex;
    align-items: center;
    gap: 10px;

}


.date {
    display: flex;
    align-items: center;
    gap: 10px;
}

.date-picker {
    display: flex;
    align-items: center;
    gap: 10px;
}

.date-picker img {
    width: 35px;
}

/* Date Table */
.date-section {
    margin-top: 26px;
    margin-bottom: 26px;
    padding: 0 6%;
    font-weight: 700;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    padding: 0 6%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

table thead {
    background-color: #B9B9B9;
}

table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

table tbody tr:nth-child(even) {
    background-color: #fff;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.add-row-btn {
    margin-top: 16px;
    background-color: #72C2AE;
    color: white;
    font-size: 2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 5%;
    text-align: center;
    font-weight: bold;
}

.add-row-btn:hover {
    background-color: #5fa68d;
}

.done-btn {
    background-color: #72C2AE; 
    color: white; 
    font-size: 1.5rem; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    position: absolute; 
    bottom: 50px; 
    right: 89px; 
    width: 150px; 
}

.done-btn:hover {
    background-color: #5fa68d;
}


/* Form receipts */ 
.form-container {
    background-color: #ECECEC;
    padding: 20px;
    width: 100%;
    max-width: 1000px; 
    margin: 50px auto;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group.name {
    position: relative;
}

label {
    font-weight: bold;
    flex-shrink: 0; 
    margin-right: 10px;
    white-space: nowrap; 
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #333;
    background-color: transparent;
    font-size: 16px;
    margin-top: 5px;
    min-width: 250px; 
}

.date-picker {
    display: flex;
    align-items: center;
}

#calendar-icon {
    margin-left: 10px;
    cursor: pointer;
}

/* Style cho Menu Overlay */
.open-menu {
    background-color: #F1F1F1; 
    color: #8d8686; 
    font-size: 1.5rem; 
    padding: 10px 20px;
    border: 1px solid #9e9e9e;
    border-radius: 999px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    position: fixed; 
    bottom: 50%; 
    left: 20px; 
    width: 50px; 
    height: 50px;
    z-index: 1006;
}
 

.open-menu:hover {
    background-color: #9e9e9e;
}

.overlay {
    position: fixed;
    top: 60px; 
    left: 0;
    width: 100%;
    height: calc(100vh - 60px); 
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; 
    display: none;
}


.menu-ovl {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f9f9f9;
    padding: 30px 50px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 60px;
    left: -30%;
    height: calc(100vh - 60px);
    z-index: 1005;
    transition: left 0.3s ease;
    overflow-y: auto; /* Thêm thanh cuộn dọc khi cần */
    scrollbar-width: thin; /* Đặt độ rộng thanh cuộn */
    scrollbar-color: #888 #f1f1f1; /* Màu thanh cuộn */
}

.menu-ovl::-webkit-scrollbar {
    width: 8px; /* Độ rộng của thanh cuộn */
}

.menu-ovl::-webkit-scrollbar-thumb {
    background-color: #888; /* Màu của phần thanh cuộn */
}

.menu-ovl::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Màu của phần nền thanh cuộn */
}
.menu-ovl button {
    margin-left: 80px;
    margin-bottom: 28px; 
    padding: 10px 20px;
    font-size: 1.4rem;
    background-color: #EAEAEA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 291px;
    height: 84px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.menu-ovl button:first-child {
    margin-top: 20px; 
}

.menu-ovl button:last-child {
    margin-bottom: 0; 
}

.menu-ovl button a {
    padding: 20px 30px;
    color: #696969;
    text-decoration: none;
    font-size: 2.3rem;
    font-weight: 500;
    display: block;
}

.menu-ovl button:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); 
    background-color: #F5DD85; 
}

/* Report page */
.rp-title {
    padding: 30px 6%;
}

.title-btn {
    min-width: 318px;
    height: 53px;
    background-color: #D9D9D9;
    border-radius: 99px;
    border: 0;
    outline: 0;
    font-weight: 700;
    font-size: 2rem;
}

.title-btn:first-child {
    margin-right: 24px;
    /* background-color: #F5DD85; */
}

.title-btn.active {
    background-color: #F5DD85;
}

/* Book Lookup */ 

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 6%;
    margin-bottom: 20px;
}

input[type="text"].search-input {
    /* width: 200px; */
    padding: 10px;
    padding-right: 30px; /* Dành chỗ cho icon */
    border: none;
    background-color: #f1f1f1;
    font-size: 16px;
    margin-top: 5px;
    min-width: 300px;
    border-radius: 10px;
}

.result-ip ul {
    background-color: #f1f1f1;
    border-top: 1px solid #999;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.result-ip ul li {
    list-style: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.result-ip ul li:hover {
    background: #fff;
}

.result-ip {
    max-height: 200px;
    overflow-y: scroll;
}

.search-btns {
    display: flex;
    gap: 10px;
}


.filter-btn {
    padding: 10px 15px;
    border: none;
    background-color: #f4f4f4;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.filter-btn:hover {
    background-color: #e2e2e2;
}

.filter-btn.active {
    background-color: #28a745;
    color: white;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.book-container h2 {
    grid-column: span 3; 
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    font-weight: 600;
    margin-bottom: 20px; 
}

.book-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease;
}

.book-item:hover {
    transform: translateY(-10px);
}

.book-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.book-title {
    font-size: 2.25rem;
    font-weight: 600;
    color: #333;
    margin: 10px 0;
}

.book-price {
    font-size: 2rem;
    font-weight: 600;
    color: #45a049;
    margin: 10px 0;
    font-weight: bold;
}

.progress-container {
    width: 100%;
    height: 30px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    position: relative; 
}

.progress-bar {
    height: 100%;
    background-color: #45a049;
    position: absolute;
    top: 0;
    left: 0;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #c24c4c;
    font-size: 1.5rem;
    font-weight: 500;
    z-index: 1; 
}

.progress-container::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #333;
    font-size: 0.875rem;
    z-index: 1; 
}

/* Table lookup */ 
.book-table {
    grid-column: 3 span;
    width: 100%;
    height: 50vh;
    border-collapse: collapse;
    margin-top: 20px;
}

.book-table th,
.book-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.book-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.book-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.book-table tr:hover {
    background-color: #f1f1f1;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

.navbar {
    width: 100%;
    height: 60px; 
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed; 
    top: 0; 
    z-index: 1000; 
    font-size: 14px;
    color: white;
    background-color: rgb(72, 109, 245);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 100px;
}

.navbar-left img {
    width: 210px;
}

.navbar-left ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.navbar-left ul li a{
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

.navbar-left ul li a:hover {
    text-decoration: underline;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}


.navbar-right button{ 
    width: 90px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    border: none;
    outline: none;
}

.navbar-right button:hover  {
    background-color: rgb(72, 109, 245);
    border: 2px solid #fff;
}

.logout a {
    padding: 10px 12px;
}

.logout:hover a{
    color: #fff;
}

.navbar-right button a {
    font-size: 1.4rem;
    font-weight: 500;
    color: #000;
}


/* Hero */ 
.hero {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    margin-top: 60px; 
}

.hero__inner {
    display: flex;
    width: 100%;
}

.hero__menu {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.hero__menu button {
    margin-bottom: 28px; 
    padding: 10px 20px;
    font-size: 1.4rem;
    background-color: #EAEAEA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 291px;
    height: 84px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.hero__menu button:last-child {
    margin-bottom: 0; 
}

.hero__menu button a {
    padding: 20px 30px;
    color: #696969;
    text-decoration: none;
    font-size: 2.3rem;
    font-weight: 500;
    display: block;
}

.hero__menu button:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); 
    background-color: #F5DD85; 
}

.hero__view {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.hero__background {
    height: 60%; 
    background-image: url('/img/bg-hero.png'); 
    background-size: cover; 
    background-position: center; 
    box-shadow: inset 0 -3px 10px rgba(0, 0, 0, 0.2);
}

.hero__footer {
    height: 40%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.1);
}

/* hero footer */
.hero__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 6%;
    background-color: #fff;
    font-size: 1.4rem;
    color: #333;
    box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.1);
}

.footer-column {
    flex: 1;
    padding: 10px;
}

.footer-logo img {
    width: 30px;
}

.footer-icons {
    display: flex;
    gap: 16px;
    margin-top: 20px;
}

.footer-icons a img {
    width: 30px; 
}

.footer-column h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 28px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 12px;
}

.footer-column ul li a {
    color: #333;
    text-decoration: none;
    font-size: 1.6rem;
}

.footer-column ul li a:hover {
    color: #007bff;
}

/* home empty */ 
.book-entry-form {
    background-color: #72C2AE;
    color: white;
    font-size: 2rem;
    font-weight: 500;
    height: 60px; 
    display: flex;
    align-items: center;
    padding: 0 90px;
    margin-top: 60px; 
}

.book-entry-form h2 {
    margin: 0; 
}

/* Customer Section */
.customer-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 26px;
    margin-bottom: 26px;
    padding: 0 6%;
}

.date {
    padding: 10px 6%;
}

.date ,
.customer-section h3 {
    font-weight: 700;
}

.customer {
    display: flex;
    align-items: center;
    gap: 10px;
}


.date {
    display: flex;
    align-items: center;
    gap: 10px;
}

.date-picker {
    display: flex;
    align-items: center;
    gap: 10px;
}

.date-picker img {
    width: 35px;
}

/* Date Table */
.date-section {
    margin-top: 26px;
    margin-bottom: 26px;
    padding: 0 6%;
    font-weight: 700;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    padding: 0 6%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

table thead {
    background-color: #B9B9B9;
}

table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

table tbody tr:nth-child(even) {
    background-color: #fff;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.add-row-btn {
    margin-top: 16px;
    background-color: #72C2AE;
    color: white;
    font-size: 2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 5%;
    text-align: center;
    font-weight: bold;
}

.add-row-btn:hover {
    background-color: #5fa68d;
}

.done-btn {
    background-color: #72C2AE; 
    color: white; 
    font-size: 1.5rem; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    position: absolute; 
    bottom: 50px; 
    right: 89px; 
    width: 150px; 
}

.done-btn:hover {
    background-color: #5fa68d;
}


/* Form receipts */ 
.form-container {
    background-color: #ECECEC;
    padding: 20px;
    width: 100%;
    max-width: 1000px; 
    margin: 50px auto;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    font-weight: bold;
    flex-shrink: 0; 
    margin-right: 10px;
    white-space: nowrap; 
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #333;
    background-color: transparent;
    font-size: 16px;
    margin-top: 5px;
    min-width: 250px; 
}

.date-picker {
    display: flex;
    align-items: center;
}

#calendar-icon {
    margin-left: 10px;
    cursor: pointer;
}

/* Style cho Menu Overlay */
.open-menu {
    background-color: #F1F1F1; 
    color: #8d8686; 
    font-size: 1.5rem; 
    padding: 10px 20px;
    border: 1px solid #9e9e9e;
    border-radius: 999px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    position: fixed; 
    bottom: 50%; 
    left: 20px; 
    width: 50px; 
    height: 50px;
    z-index: 1006;
}
 

.open-menu:hover {
    background-color: #9e9e9e;
}

.overlay {
    position: fixed;
    top: 60px; 
    left: 0;
    width: 100%;
    height: calc(100vh - 60px); 
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; 
    display: none;
}


.menu-ovl {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f9f9f9;
    padding: 30px 50px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 60px;
    left: -30%;
    height: calc(100vh - 60px);
    z-index: 1005;
    transition: left 0.3s ease;
    overflow-y: auto; /* Thêm thanh cuộn dọc khi cần */
    scrollbar-width: thin; /* Đặt độ rộng thanh cuộn */
    scrollbar-color: #888 #f1f1f1; /* Màu thanh cuộn */
}

.menu-ovl::-webkit-scrollbar {
    width: 8px; /* Độ rộng của thanh cuộn */
}

.menu-ovl::-webkit-scrollbar-thumb {
    background-color: #888; /* Màu của phần thanh cuộn */
}

.menu-ovl::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Màu của phần nền thanh cuộn */
}
.menu-ovl button {
    margin-left: 80px;
    margin-bottom: 28px; 
    padding: 10px 20px;
    font-size: 1.4rem;
    background-color: #EAEAEA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 291px;
    height: 84px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.menu-ovl button:first-child {
    margin-top: 20px; 
}

.menu-ovl button:last-child {
    margin-bottom: 0; 
}

.menu-ovl button a {
    padding: 20px 30px;
    color: #696969;
    text-decoration: none;
    font-size: 2.3rem;
    font-weight: 500;
    display: block;
}

.menu-ovl button:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); 
    background-color: #F5DD85; 
}

/* Report page */
.rp-title {
    padding: 30px 6%;
}

.title-btn {
    min-width: 318px;
    height: 53px;
    background-color: #D9D9D9;
    border-radius: 99px;
    border: 0;
    outline: 0;
    font-weight: 700;
    font-size: 2rem;
}

.title-btn:first-child {
    margin-right: 24px;
    /* background-color: #F5DD85; */
}

.title-btn.active {
    background-color: #F5DD85;
}

/* Book Lookup */ 

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 6%;
    margin-bottom: 20px;
}

input[type="text"].search-input {
    /* width: 200px; */
    padding: 10px;
    padding-right: 30px; /* Dành chỗ cho icon */
    border: none;
    background-color: #f1f1f1;
    font-size: 16px;
    margin-top: 5px;
    min-width: 300px;
    border-radius: 10px;
}

.result-ip ul {
    background-color: #f1f1f1;
    border-top: 1px solid #999;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.result-ip ul li {
    list-style: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.result-ip ul li:hover {
    background: #fff;
}

.result-ip {
    max-height: 200px;
    overflow-y: scroll;
}

.search-btns {
    display: flex;
    gap: 10px;
}


.filter-btn {
    padding: 10px 15px;
    border: none;
    background-color: #f4f4f4;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.filter-btn:hover {
    background-color: #e2e2e2;
}

.filter-btn.active {
    background-color: #28a745;
    color: white;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.book-container h2 {
    grid-column: span 3; 
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    font-weight: 600;
    margin-bottom: 20px; 
}

.book-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease;
}

.book-item:hover {
    transform: translateY(-10px);
}

.book-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.book-title {
    font-size: 2.25rem;
    font-weight: 600;
    color: #333;
    margin: 10px 0;
}

.book-price {
    font-size: 2rem;
    font-weight: 600;
    color: #45a049;
    margin: 10px 0;
    font-weight: bold;
}

.progress-container {
    width: 100%;
    height: 30px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    position: relative; 
}

.progress-bar {
    height: 100%;
    background-color: #45a049;
    position: absolute;
    top: 0;
    left: 0;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #c24c4c;
    font-size: 1.5rem;
    font-weight: 500;
    z-index: 1; 
}

.progress-container::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #333;
    font-size: 0.875rem;
    z-index: 1; 
}

/* Table lookup */ 
.book-table {
    grid-column: 3 span;
    width: 100%;
    height: 50vh;
    border-collapse: collapse;
    margin-top: 20px;
}

.book-table th,
.book-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.book-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.book-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.book-table tr:hover {
    background-color: #f1f1f1;
}

.book-detail {
    display: flex;
    gap: 20px; 
    align-items: flex-start;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .book-image-container {
    flex-shrink: 0;
  }

  .book-image {
    width: 100%;
    max-width: 150px; 
    border-radius: 8px;
    object-fit: cover;
  }
  
  .book-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .book-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .book-category,
  .book-author,
  .book-price {
    font-size: 1.3rem;
    margin-bottom: 8px;
  }

/* toast */
/* Style cho toast */
.toast, .toastError {
    position: fixed;
    top: 20px;
    right: 20px;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 10001;
}

.toast.show, .toastError.show {
    opacity: 1;
    visibility: visible;
}

.toast {
    background-color: #28a745; 
}

.toastError {
    background-color: #e33a3a; 
}

.nameBook {
    position: relative;
}

/* Gợi ý trong bảng nhập sách */
.autocomplete-suggestions {
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
    width: 100%; 
    top: calc(100% + 4px); 
    left: 0; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 4px; 
}
  

.autocomplete-suggestions div {
    padding: 8px 12px; 
    cursor: pointer;
    font-size: 14px; 
}
  
.autocomplete-suggestions div:hover {
    background-color: #e6f7ff; 
    color: #007bff;
}

.nameCustomer {
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
    width: 100%; 
    top: calc(100% + 4px); 
    left: 0; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 4px; 
}

.nameCustomer div {
    padding: 8px 12px; 
    cursor: pointer;
    font-size: 14px; 
}

.nameCustomer div:hover {
    background-color: #e6f7ff; 
    color: #007bff; 
}

/* Gợi ý trong page Receipt */ 
.customerSuggestions {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.customerSuggestions div {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
}

.customerSuggestions div:hover {
    background-color: #e6f7ff;
    color: #007bff;
}

/* Customer page */ 
.delete-row-btn {
    color: white;
    background-color: #ff4d4d;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.delete-row-btn:hover {
    background-color: #cc0000;
}


/* Form Thêm Khách Hàng */
#addCustomerForm {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Đặt form lên trên lớp nền mờ */
    display: none; /* Ẩn mặc định */
}

/* Các phần tử khác của form */
#addCustomerForm h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

#customerForm label {
    display: block;
    margin: 10px 0 5px;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}

#customerForm input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

/* Submit và Cancel */
#customerForm button {
    width: 48%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#customerForm button[type="submit"] {
    background-color: #28a745;
    color: white;
}

#customerForm button[type="submit"]:hover {
    background-color: #218838;
}

#customerForm button[type="button"] {
    background-color: #dc3545;
    color: white;
    float: right;
}

#customerForm button[type="button"]:hover {
    background-color: #c82333;
}

/* Edit page */ 
.add-row-btn .edit {
    width: 20px;
    height: 20px;
}